@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(to right, #003366, #004080, #0059b3, #0073e6);
}

.container {
    width: 390px;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    border: 1px solid lightgrey;
    border-radius: 15px;
}

.tabs button {
    flex: 1;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: color 0.6s ease;
}

.tabs .active {
    color: #fff;
    background: linear-gradient(to right, #003366, #004080, #0059b3, #0073e6);
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="email"], input[type="password"] {
    height: 50px;
    padding: 0 15px;
    font-size: 17px;
    margin-top: 20px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    border-radius: 15px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-color: #1a75ff;
}

input[type="email"]::placeholder, input[type="password"]::placeholder {
    color: #999;
    transition: color 0.3s ease;
}

input[type="email"]:focus::placeholder, input[type="password"]:focus::placeholder {
    color: #1a75ff;
}

.forgot-password, .signup-text, .login-text {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a, .signup-text a, .login-text a {
    color: #1a75ff;
    text-decoration: none;
}

.forgot-password a:hover, .signup-text a:hover, .login-text a:hover {
    text-decoration: underline;
}

.submit-btn {
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(to right, #003366, #004080, #0059b3, #0073e6);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
 
}

.submit-btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: linear-gradient(to right, #003366, #004080, #0059b3, #0073e6);
    border-radius: 15px;
    transition: all 0.4s ease;
}

.submit-btn:hover .btn-layer {
    left: 0;
}

.submit-btn input[type="submit"] {
    width: 100%;
    height: 100%;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
